{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h3 class="text-center">{{cat.name}}</h3>
<div class="container container-fluid p-3">
    <div class="row">

{% for produit in produitsCat %}
        <div class="col-lg-4 mb-4">
        <div class="card h-100 ">
            <img class="p-3 rounded img-fluid materialboxed" width="650" src="/images/affaires/{{ produit.imageName }} ">
                <div class="card-body">
                    <p class="card-title">
                    <p class="text-center">{{ produit.name }}</p>
                    <p>Auteur: {{ produit.proprietaire }}</p>
                    <p>Nombre de points : {{ produit.nbpts}}</p>
                    <p class="card-text">Description : {{ produit.description|slice(0,100) }}...</p>
                    </p>
                    <a href="" class="btn btn-block btn-primary text-uppercase">Button</a>
                </div>
        </div>  
        </div>
        

{% endfor %}
</div>
</div>
{% endblock %}
