{% extends 'base.html.twig' %}

{% block title %}{{cat.name}}{% endblock %}

{% block body %}
<h3 class="text-center text-secondary titlec mt-5">{{cat.name}}</h3>
<div class="container container-fluid p-3">
    <div class="row">
{% for produit in produitsCat %}
        <div class="col-lg-4 mb-4">
        <div class="card h-100 ">
        <div class="row imageSize2">
        <div class="col-12">
            <img class="p-3 rounded img-fluid materialboxed imageSize3 mt-3" width="650" src="/images/affaires/{{ produit.imageName }} ">
            </div>
            </div>
            
                <div class="card-body">
                <div class="row descriptSize2">
                <div class="col-12 descriptSize3">
                    <p class="card-title">
                    <p class="fonttitle text-center">{{ produit.name }}</p>
                    <span><i class="fonttext">Auteur:</i> {{ produit.proprietaire }}</i><span>
                    <p><i class="fonttext">Nombre de points :</i> {{ produit.nbpts}}</p>
                    <p class="card-text"><i class="fonttext">Description :</i> <i class="fontdes">{{ produit.description|slice(0,100) }}...</i></p>
                    </p>
                  </div>  
                  </div> 
                  <div class="row buttonSize2">
                  <div class="col-12">
                    <a href="/produit/{{ produit.id }}" class="btn waves-effect waves-orange text-uppercase mt-4 buttonSize4">Emprunter</a>
                    </div>
                    </div> 
                  </div>  
                
        </div>  
        </div>
{% endfor %}
</div>
</div>
{% endblock %}
