{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{{cat.name}}

                {% for produit in produitsCat %}
                <p>{{ produit.name }}</p>
                <p>{{ produit.proprietaire }}</p>
                <p>{{ produit.description }}</p>
                <p>{{ produit.nbpts}}</p>
                {% endfor %}
{% endblock %}
