{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="parallax-container">
      <div class="parallax"><img src="assets/img/pexels-pixabay-265685.jpg"></div>
    </div>
    <div class="section white">
     
        <div class="container container-fluid">
    <div class="row">
    {% for produitRetour in produitsRetour %}

      
      <div class="col-sm-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{ produitRetour.name }}</h5>
            <img class="img-fluid materialboxed" width="650" src="images/affaires/{{ produitRetour.imageName }} ">
            
            <ul class="fa-ul">
              <li><span class="fa-li"><i class=" fas fa-check"></i></span><strong class="pt-5 mt-5">Nom : {{ produitRetour.proprietaire }}</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Categorie: {{ produitRetour.categorie }}</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Description: {{ produitRetour.description|slice(0,100) }}...</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Nombre de points : {{ produitRetour.nbpts }}</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>     
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="assets/img/pexels-pixabay-265685.jpg"></div>
    </div>
{% endblock %}

        
