{% extends 'base.html.twig' %}

{% block title %}{{ produit.name }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="row">
                <img class="z-depth-2 p-2 col-12 mt-5 animate__animated animate__backInLeft rounded img-fluid materialboxed" width="600" src="/images/affaires/{{ produit.imageName }} ">
            </div>
        </div>
        
        <div class="col-6 mt-5">
            <div class="row">
            <div class="rounded animate__animated animate__backInRight col-11 z-depth-2">
            <p class="mt-3 mb-0">Titre:</p>
            <a class="fontdes">{{ produit.name }}</a>
            <p class="fonttext mt-3 mb-0">Description:</p>
            <p class="fontdes">{{ produit.description }}</p>
            <a class="fonttext">Proprietaire:</a>
            <p class="fontdes">{{ produit.proprietaire }}</p>
            <a class="fonttext">Type:</a>
            <p class="fontdes">{{ produit.categorie }}</p>
            <a class="fonttext">Nombre de points nécessaire:</a>
            <p class="fontdes">{{ produit.nbpts}}</p>
            <select class="browser-default mb-3">
            <option value="" disabled selected>Voir les dates réservées</option>
            {% for emprunt in emprunt %}
            <option value="1">Du {{ (emprunt.dateDebut|date("d/m/Y")) }} au {{ (emprunt.dateFin|date("d/m/Y")) }}</option>
            {% endfor %}
            </select>
            {% if app.user %}
            <a href="/emprunt/ajout/{{ produit.id }}/{{app.user.id }}" class="mb-3 btn waves-effect waves-orange text-uppercase buttonSize4">Emprunter</a>
            {% endif %}
        </div>
            </div>
        </div>
    </div>
<div>

{% endblock %}
