{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div>
        <p>{{ produit.proprietaire }}</p>
        <p>{{ produit.name }}</p>
        <p>{{ produit.categorie }}</p>
        <p>{{ produit.description }}</p>
        <p>{{ produit.nbpts}}</p>
    </div>
    <a href="/produit/{{ produit.id }}" class="btn waves-effect waves-orange text-uppercase">Emprunter</a>
{% endblock %}
