{% extends 'base.html.twig' %}

    {% block stylesheets %}
                <!-- Material Icons -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <!-- Animate -->
                <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
                <!-- Google Icon -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
                <!-- AniCollection -->
                <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
                <!-- Bootstrap -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                <!-- Materialize -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
                <!-- Favicon -->
                <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
                <!-- CSS -->
                <link rel="stylesheet" href="/../../assets/style.css">
    {% endblock stylesheets %}
    
{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

        {% for message in app.flashes('message') %}
        <div class="container">
<div class="row">
<div class=" col d-flex justify-content-center">
<p class="pr-3 pl-3 pt-2 pb-2 text-center z-depth-2 text-center rounded " id="message"> {{ message }}</p>
                </div>
        </div>
        </div>
        {% endfor %}

    <h3 class="text-center mb-5 mt-5 amber-text">Modifier un utilisateur</h1>
    <div class="container">
    <div class="row">
    <div class="z-depth-3 col-12 border border-dark rounded">

    {{ form_start(userForm) }}
        {{ form_row(userForm.firstname, {'label': 'Nom', 'label_attr': {'class':"titlec mt-3"},   'attr': {'class':""}}) }}
        {{ form_row(userForm.lastname, {'label': 'Prenom', 'label_attr': {'class':"titlec"},   'attr': {'class':""}}) }}
        {{ form_row(userForm.totalPts, {'label': 'Total Points', 'label_attr': {'class':"titlec"},   'attr': {'class':""}}) }}
        {{ form_row(userForm.email, {'label': 'email', 'label_attr': {'class':"titlec"},   'attr': {'class':""}}) }}
        {{ form_row(userForm.role, { 'label': 'Role', 'label_attr': {'class':"titlec"}, 'attr': {'class':"input-field p-2"}}) }}
        {{ form_row(userForm.valider, {'label': 'valider', 'label_attr': {'class':"black-text titlec  "}, 'attr': {'class':" mt-2 mb-3 btn waves-effect waves-orange text-uppercase "}}) }}       
    {{ form_end(userForm) }}
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <a href="/admin/utilisateurs/add" class="z-depth-3 waves-effect waves-light btn"><i class="material-icons left">add</i>Ajouter</a>
    </div>
    </div>
    </div>
{% endblock %}
