{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
    <div class="container">
<div class="row">
<div class=" col d-flex justify-content-center">
<p class="pr-3 pl-3 pt-2 pb-2 text-center z-depth-2 text-center rounded " id="message"> {{ message }}</p>
            </div>
    </div>
    </div>
    {% endfor %}
<div class="">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-10 mx-auto ">
              <h3 class="titlec mb-3 text-center ">Inscription</h3>
              {{form_start(form) }}
              {{form_row(form.lastname, {'label': 'Nom', 'label_attr': {'class':"input-field titlec  "},   'attr': {'class':"form-control validate"}}) }} 
              {{form_row(form.firstname, {'label': 'Prenom', 'label_attr': {'class':"titlec"},   'attr': {'class':"form-control validate"}}) }}
              {{form_row(form.email, {'label': 'Votre email', 'label_attr': {'class':"titlec"},   'attr': {'class':"form-control validate"}}) }}
              {{form_row(form.password, {'label': 'Votre mot de passe', 'label_attr': {'class':"titlec"},   'attr': {'class':"form-control validate"}}) }}
              {{form_row(form.connexion, {'label': 'Sinscrire', 'attr': {'class':"mt-3 btn btn waves-effect waves-orange text-uppercase font-weight-bold mb-3"}}) }}
              {{form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image2 z-depth-3 rounded"></div>
  </div>
</div>

  
{% endblock %}
