{% extends 'base.html.twig' %}

{% block title %}Espace Perso{% endblock %}

{% block body %}
<body class="bg-light">
    
<h5 class="fontdes  mt-5 amber lighten-2 mx-auto p-2 rounded z-depth-2" >Bonjour {{ app.user.lastname}} {{ app.user.firstname}}</h5>
        
{% if app.user %}
    <div class="">
        
    <div class="row">
    <div class="col-4">
        <h6 class="fontdes mb-3 mt-5 amber lighten-2 mx-auto p-2 rounded z-depth-2">Gérer les informations de votre compte</h6>
            <div class="z-depth-2  rounded">
            {% if app.user.imageName is empty %}
            {% else %}
                <img class="z-depth-2 p-2 col-12 mt-5 animate__animated animate__backInLeft rounded img-fluid materialboxed" width="600" src="/images/user/{{ app.user.imageName }} ">
            {% endif %}   
                <p class="pt-3 ml-3"><a class="fonttext ">Nom:</a> <a class="fontdes">{{ app.user.firstname}}</a></p>
                <p class="ml-3"><a class="fonttext ">Prénom:</a> <a class="fontdes">{{ app.user.lastname}}</a></p>
                <p class="ml-3"><a class="fonttext ">Email:</a> <a class="fontdes">{{ app.user.email}}</a></p>
                <p class="pb-3 ml-3"><a class="fonttext ">Points disponible:</a> <a class="fontdes">{{ app.user.totalpts}}</a></p>
            </div>
        {% if is_granted('ROLE_ADMIN') %}
        <h6 class=" fontdes mb-3 amber lighten-2 mx-auto p-2 rounded z-depth-2">Administration</h6>
        <a href="/admin/categories" class="container-fluid btn tooltipped mb-2" data-position="right" data-tooltip="Editer Categories">Edit Categories</a>
        <a href="/admin/utilisateurs" class="container-fluid btn tooltipped" data-position="right" data-tooltip="Editer Utilisateurs">Edit Utilisateurs</a>
        {% endif %}
    <h6 class="fontdes amber mb-3 lighten-2 mx-auto p-2 rounded z-depth-2">Vos produits publié</h6>
    <div class="row">
    <div class="col-sm-12">      
    {% for produit in produitsClient %}        
    <ul class="collapsible mb-0">
        <li>
        <div class="collapsible-header"><i class="material-icons">web_asset</i><a class="fonttext "></a> <a class="fontdes">{{ produit.name }}</a></div>
        <div class="collapsible-body"><span><a class="fonttext ">Type:</a> <a class="fontdes">{{ produit.categorie }}</a></span></div>
        <div class="collapsible-body"><span><a class="fonttext ">Nombre de points:</a> <a class="fontdes">  {{ produit.nbpts}}</a></span></div>
        <div class="collapsible-body"><span><a class="fonttext ">Description:</a> <a class="fontdes">  {{ produit.description}}</a></span></div>
        </li>
    </ul>
    {% endfor %}
    </div>
    </div>
    </div>
    <div class="col s8">
        <h6 class="fontdes mt-5 mb-3 amber lighten-2 mx-auto p-2 rounded z-depth-2">Publié un produit</h6>
            <div class="row">
            <div class="col 12 ">
            <div class="z-depth-2 rounded p-4 rounded ">
            
            {{form_start(form) }}
                    
                    {{ form_row(form.name, {'label': 'Titre', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"validate"}}) }}
                    {{ form_row(form.description, {'label': 'Description', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"validate"}}) }}
                    {{ form_row(form.categorie, {'label': 'Categorie', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"validate"}}) }}
                    {{ form_row(form.proprietaire, {'label': 'Proprietaire', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"validate"}}) }}
                    {{ form_row(form.nbPts, {'label': 'Nombre de points', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"validate"}}) }}
                    {{ form_row(form.imageFile, {'label': 'Ajouter une image', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':""}}) }}
                    {{ form_row(form.enregister, {'label': 'Enregister', 'label_attr': {'class':"black-text titlec  "},   'attr': {'class':"mt-2 btn waves-effect waves-orange text-uppercase "}}) }}
                    
            {{ form_end(form) }}
            </div>
            </div>
            </div>
{% endif %}
        <h6 class="fontdes amber mb-3 lighten-2 mx-auto p-2 rounded z-depth-2">Produits réserver</h6>

      <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Voir & Gérer les réservation</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <table class="">
        <thead>
          <tr class="fonttext1 amber lighten-2 rounded" >
              <th >Titre</th>
              <th>Nom </th>
              <th>Emprunter le:</th>
              <th>Retour le:</th>
          </tr>
        </thead>
        {% for emprunt in emprunts %}
        <tbody>
          <tr>
            <td>{{ emprunt.affaire }}</td>
            <td>{{ emprunt.emprunteur }}</td>
            <td>{{ (emprunt.dateDebut|date("d/m/Y")) }}</td>
            <td>{{ (emprunt.dateFin|date("d/m/Y")) }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

    
</body>
{% endblock %}

