<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <!-- Materialize -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="/assets/css/materialize.css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- CSS -->
            <link rel="stylesheet" href="../assets/style.css">
        {% endblock %}
        
    </head>

  <nav> 
  <div class="nav-wrapper deep-orange">
      <a href="" class="ml-4 blue lighten-4"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Accueil</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Catégories<i class="material-icons right"></i></a></li>
            <ul id="dropdown1" class="dropdown-content">

              {% for categorie in categories %}
              
              <li><a href="/category/{{ categorie.id }}">{{ categorie.name }}</a></li>
              {% endfor %}

            </ul>
          <li><a href="#">Produit</a></li>
            {% if app.user %}
              <li><a href="/client/{{ app.user.id }}"> {{ app.user}} </a></li>
              <li><a href="/logout">Déconnexion</a></li>
            {% else %}
              <li><a href="/login">Connexion</a></li>
              <li><a href="/registration">Inscription</a></li>
            {% endif %}
            
        </ul>
      <ul id="slide-out" class="sidenav">
          <li><div class="">
            
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
          </div></li>
          <li><a href="#"><i class="material-icons">account_circle</i></a></li>
            {% if app.user %}
              <li><a href="/client/{{ app.user.id }}"> {{ app.user }} </a></li>
              <li><a href="/logout">Déconnexion</a></li>
            {% else %}
              <li><a href="/login">Connexion</a></li>
              <li><a href="/registration">Inscription</a></li>
            {% endif %}

            <li><div class="divider"></div></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Catégories<i class="material-icons right"></i></a></li>
            <ul id="dropdown2" class="dropdown-content">

              {% for categorie in categories %}
              
              <li><a href="/category/{{ categorie.id }}">{{ categorie.name }}</a></li>
              {% endfor %}

            </ul>
            <li><a href="./">Accueil</a></li>
            <li><a href="#">Produit</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader"></a></li>
            <li><a class="waves-effect" href="#!">Admin</a></li>
          </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
    </nav>

    <body>
        {% block body %}

        {% endblock %}

        {% block footer %}
                <footer class="page-footer deep-orange">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Footer Test</h5>
                <p class="grey-text text-lighten-4">Stiv la petit pute</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Lien 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lien 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lien 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lien 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020
            <a class="grey-text text-lighten-4 right" href="#!">TEST</a>
            </div>
          </div>
        </footer>
            {% endblock %}

        {% block javascripts %}
            <!-- JS, Popper.js, and jQuery -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script type="text/javascript" src="/assets/js/script.js"></script>
        {% endblock %}

